.main-nav {
display: flex;
justify-content:flex-end;
padding-top: 60px;
align-items: vertical;
font-family: 'Times New Roman', Times, serif;
font-size: large;
text-transform: uppercase;
margin: 100px;
font-size: 50px;
}

.left-nav > ul,
.right-nav > ul {

}

.left-nav > ul > li {

}

.right-nav > ul > li {

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {

}


.right-nav i {

}