

<header>
</header>

<h1> Cats </h1>

<body>

<% @cats.each do |cat| %>
    <p>
    Name: <%= cat.name %> <p>
    Color: <%= cat.color %> <p>
    Sex: <%= cat.sex %> <p>
    Description: <%= cat.description %> <p>
     </p>

<% end %>

</body>



