<header class="main-nav">
	<nav class="right-nav"> 
		<ul>
			<li >
			<label for="Login"> Login </label>
			<input type="submit" value="Login">
			<button type="button">Click Me!</button>
			<input type="Subscribe Now" value="subscribe now">
			</li>
		</ul>
	</nav>

	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	
</header>